body {
font-size: 18px;
color: darkblue;
align-items: center;
text-align: center
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: repeat(5, auto);
  gap: 20px; 
  align-items: center; 
}

.item img {
  max-width: 100%; 
  height: auto;
  display: block;
  align-self: start;
  object-fit: cover;
  border : 2px solid gray;
  border-radius: 20px;
}

.item {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
}

.text {
  padding: 20px;
}

.centered-image {
  grid-column: 1 / -1; 
  text-align: center;
}

.centered-image img {
  max-width: 200px; 
  height: auto;
  border : 1px solid gray;
  border-radius: 100px;
}